.navproperty {
  text-decoration: none;
  color: black;
  margin-left: 3%;
}

.login {
  text-decoration: none;
  position: relative;
  left: 65%;
}

.contact {
  border: none;
  padding: 4%;
  background-color: #87a4f4;
  color: white;
}

.services {
  background-image: url("https://via.placeholder.com/728x400.png");
  color: white;
  margin-top: 6%;
}

.work {
  text-align: center;
  width: 55%;
  margin-left: 24%;
}

.card {
  padding: 22% 12%;
  width: 98%;
  margin-top: 14%;
  margin-left: 5%;
}

.card-1 {
  background-color: #99e4ff;
}

.card-2 {
  background-color: #c4c6ff;
}

.card-3 {
  background-color: #8eeded;
}

.card-4 {
  background-color: #88cdf0;
}

.compliance {
  margin-top: 3%;
}

.title {
  margin-top: 5%;
}

.workingprocedure {
  margin-top: 6%;
}

form input {
  display: block;
  margin-top: 6%;
  width: 64%;
  padding: 2%;
}

.field {
  margin-top: 8%;
  margin-right: 36%;
  text-align: right;
}

.submit {
  background-color: #8e98ff;
  border: none;
  color: white;
  padding: 2% 15%;
  margin-top: 5%;
}

.list-group-item {
  border-right: none;
  background-color: #f8f9fa;
  padding: 6%;
}

.list-group-item.active {
  background-color: #fff;
  color: #7a80ff;
  border-color: rgb(0 0 0 / 13%) rgb(0 0 0 / 13%) rgb(0 0 0 / 13%) #7a80ef;
  border-width: 2px 2px 2px 5px;
}

.list-group {
  border-radius: 0px;
  margin-top: 15%;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
